* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! Player Card/Container Styling  */
.card-container {
  background-image: url("https://cdnuploads.aa.com.tr/uploads/Contents/2016/05/09/thumbs_b_c_09070d577c21868e72edfc11cd52b415.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
}
.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
}
.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.player-logo {
  transition: transform 0.2s;
  height: 350px;
}

.player-card:hover .player-logo {
  transform: scale(0.95);
}
